

.view-pendingdocuments .judl-frontend-toolbar {
	margin : 10px 0;
}

.view-pendingdocuments table {
	clear      : both;
	margin-top : 10px;
}

.view-pendingdocuments .center {
	text-align : center;
}

.view-pendingdocuments .judl-pagination #limit {
	width: auto;
}