.component.window form table {
	border: transparent; 
	background: transparent;
	margin-bottom: 20px; 
}

.component.window form table {
	border: transparent; 
	background: transparent;
	margin-bottom: 20px; 
}

.judl-pagination .pagination{
	float: none;
}

.judl-pagination div.pagination{
	margin : 0;
}