.homepage{width:454px}
#main{min-height:0 !important}
.loading{opacity:0.3}
.addcomment{cursor:pointer;font-size:14px;font-weight:bold}
.hidden{display:none}

div#uljvcomment { margin:0 0 20px; padding:0}
div#uljvcomment .rows-comment {
    border: 1px solid #ccc;
    list-style: none outside none;
    padding: 10px;
	 margin: 20px 0 0 ;
	background:#fff;
    -webkit-border-radius:  5px;
    -moz-border-radius:     5px;
    border-radius:          5px;	
}
div#uljvcomment .rows-comment:first-child {    margin: 0;}

div#uljvcomment .title-comment { background:#eeeeee; border:1px solid #d9d9d9; line-height:34px; padding:0 5px;     border: 1px solid rgba(0, 0, 0, 0.15); color:#000; font-weight:bold;
margin-bottom:10px;
    -webkit-border-radius:  3px;
    -moz-border-radius:     3px;
    border-radius:          3px;}
div#uljvcomment .title-comment 	.icons-comment { float:right;     line-height: 30px;}
div#uljvcomment .title-comment .numberlike { line-height:12px; }

div#uljvcomment .middle-comment { margin-bottom:10px; overflow:hidden; padding-left:55px; position: relative; min-height:46px;}
div#uljvcomment .middle-comment img.avatar { position:absolute; left:0; top:0; width:40px; border:1px solid #ccc; padding:2px; margin-right:10px;    -webkit-border-radius:  3px;
    -moz-border-radius:     3px;
    border-radius:          3px;}
div#uljvcomment .middle-comment .date-comment {    color: #999999;	font-size:90%;	font-style:italic; line-height:normal; margin-bottom:2px;}	

div#uljvcomment .childs-comment { margin-left:20px;}

#formjvcomment textarea  { height:20px; width:454px;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;}
#formjvcomment textarea:focus  { height:130px;}






