.comments-manager .judl-frontend-toolbar {
	margin : 10px 0;
}

.comments-manager table {
	clear      : both;
	margin-top : 10px;
}

.comments-manager .center {
	text-align : center;
}

.comments-manager span.gi {
	color : #ccc;
}

.comments-manager .modal {
	border-radius : 0;
	box-shadow    : none;
	color:#000;
	position: static;
	margin-left: 0;
	border:none;
}

.comments-manager .judl-pagination #limit {
	width: auto;
}