.view-categories .categories-col{
    margin-bottom: 20px;
}

.view-categories .category-regular{
    padding-left: 0;
}

.view-categories .category-regular .category-regular{
    padding-left: 40px;
}

.view-categories .category-item .category-item{
    margin-left: 0;
}

.view-categories .category-image{
    max-width: 75px;
    float: left;
    margin: 0 10px 10px 0;
}

.view-categories .category-title{
    margin: 0 0 5px 0; 
}

.view-categories .category-counter {
    font-size: 12px;
}

.view-categories .category-description{
    margin-bottom: 7px;
}