.jvle_feed
{
    padding: 10px 15px;
}
.jvle_feed-item
{
    margin-bottom: 15px;
}
.jvle_feed-title
{
    font-weight: bold;
    margin-bottom: 4px;
}
td.jvle_title
{
    font-weight: bold;
}
.ajax-loading
{
    background: url("../../../../media/com_jvle/assets/images/ajax-loader.gif") no-repeat center center;
}
.divshow
{
    display: inline;
}
.divhide
{
    display: none;
}
div.icon
{
	width:108px;
	margin-right:15px;
	float:left;
	box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1) inset, 5px 5px 10px rgba(0, 0, 0, 0.05) inset;
	border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
	background-color: white;
	padding: 15px 5px 5px;
	height:87px;
	display:block;
	transition-property: none;
	vertical-align: middle;
}
div.icon a, a:hover
{
	color: #565656;
	text-decoration:none;
}
div.icon img
{
	display:block;
	margin:auto;
	margin-bottom:4px;
}
div.icon span
{
	display:block;
	text-align:center;
}