body {
	background: #DAE2CC;
	font-family: "Microsoft JhengHei","Arial";
}

.all {
	width: 80%;
	padding: 15px;
	margin: 0 auto;
	background: #fff;
}

.logo {
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 5px solid #607b14;
}

.logo img {
	max-width: 100%;
}

.page-header .title {
	color: #265c4b;
	background: url('../images/section_bottom.jpg') no-repeat;
	background-position: left bottom;
	font-size: 20px;
	padding: 20px 0 5px 20px;
	margin-bottom: 20px;
}

.btn-group {
	display: none;
}


.media_btns {
	text-align: center;
}

.media_btns a {
	color: #eb6100;
	background: #d8f4eb;
	border: 1px solid #b3d8cd;
	line-height: 25px;
	padding: 0 5px;
	margin: 5px 0;
	cursor: pointer;
}

.article-info {
	text-align: right;
}

.modified {
	text-align: right;
	margin-top: 10px;
}

#mailto-window {
	
}

#mailto-window h2 {
	float: left;
	color: #fd8300;
	font-weight: bold;
}

#mailto-window .mailto-close {
	float: right;
}

#mailto-window .mailto-close a {
	color: #265c4b;
}

#mailto-window .mailto-Form {
	clear: both;
	padding: 15px 0;
}

#mailto-window .mailto-Form th {
	text-align: right;
	padding-right: 10px;
}

#mailto-window .mailto-Form td {
	padding: 5px;
}

#mailto-window .mailto-Form .btns {
	text-align: center;
}


input[type="text"] {
	width: 90%;
}

button {
	color: #eb6100;
	background: #d8f4eb;
	border: 1px solid #b3d8cd;
	line-height: 25px;
	padding: 0 5px;
	margin: 5px 0;
	cursor: pointer;
}

@media screen {
	.media_btns {
		display: block;
	}
}

@media print {
	.media_btns {
		display: none;
	}
}