/* ########## sf-mainmenu ########## */
#mainmenu #item-134,
#mainmenu #item-134_now {
	width: 104px;
}

#mainmenu #item-135,
#mainmenu #item-135_now,
#mainmenu #item-136,
#mainmenu #item-136_now,
#mainmenu #item-137,
#mainmenu #item-137_now,
#mainmenu #item-138,
#mainmenu #item-138_now {
	width: 102px;
}

#mainmenu #item-140,
#mainmenu #item-140_now {
	width: 140px;
}

#mainmenu #item-141,
#mainmenu #item-141_now {
	width: 115px;
}

#mainmenu #item-142,
#mainmenu #item-142_now {
	width: 120px;
}

#mainmenu #item-144,
#mainmenu #item-144_now {
	width: 105px;
}

#mainmenu #item-144,
#mainmenu #item-144_now {
	border-right: 0px !important;
}

#mainmenu #item-134_now,
#mainmenu #item-135_now,
#mainmenu #item-136_now,
#mainmenu #item-137_now,
#mainmenu #item-138_now,
#mainmenu #item-140_now,
#mainmenu #item-141_now,
#mainmenu #item-142_now,
#mainmenu #item-144_now {
	background: #FFFFFF;
}

#mainmenu #item-144 ul,
#mainmenu #item-144_now ul {
	left: -102px;
}