@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
       body.layout-chhappiness select {
           height: 25px;
           line-height: 20px;
           background: #fefdfb;
           padding: 2px 5px;
           width: 190px;
           border: 1px solid #ffb061;
           color: #999;
           overflow: hidden;
           background: url("../images/system/down-arrow.png") no-repeat right #fff;
           -webkit-appearance: none;
       }
}
select::-moz-focus-inner { /*Remove button padding in FF*/ 
    border: 0;
    padding: 0;
}

@-moz-document url-prefix() { /* targets Firefox only */
    select {
        padding: 15px 0!important;
    }
}

/*body.layout-chhappiness select {
    padding: 2px 5px;
    width: 190px;
}*/
body.layout-chhappiness .select-block {
    padding: 0 10px;
    margin-top:10px;
}

body.layout-chhappiness #filter-search {
    border-radius: 4px;
    border-style: initial;
    background-color: #fefdfb;
    border: 1px solid #ffb061;
    padding: 4px 5px; 
    width:180px;
}


body.layout-chhappiness .filter-search-lbl.element-invisible {
    display: none;
}
body.layout-chhappiness #adminForm .btn-group {
    float:left;
    position: relative;
}

body.layout-chhappiness #adminForm .btn-group::after {
    content: '';
    display: block;
    background-image: url("../images/system/icon_03.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20px;
    width: 15px;
    position: absolute;
    right: 20px;
    top: 2px;
}


body.layout-explanation .allbutton .nextbutton {
  display: none;
}