.all {
	width: 380px;
}

.char_tbl {
	/*zoom:0.6;*/
	/*font-size: 20px;*/
}

.com_choose .choose_item {
	width: 45px;
	height: 27px;
	padding-top: 5px;
	line-height: 15px;
}

.com_choose .mychoose {
    height: 180px;
}

/*** header ***/
.header {
	margin: 0;
	padding-top: 7px;
}

.header-menu {
	padding-top: 0;
}

.header-menu #topmenu {
	display: none;
}

#open-retopmenu {
	width: 68px;
	display: block !important;
}

#open-retopmenu a {
	width: 24px;
	height: 22px;
	display: block;
	background-image: url('../images/system/home.png');
	background-repeat: no-repeat;
}

#open-retopmenu a span {
	display: none;
}

.header ul#retopmenu {
	margin: 0;
	z-index: 10;
	width: 208px;
    padding: 8px 0;
    display: none;
    text-align: center;
    background-color: #8A5A34;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    position: absolute;
    top: 32px;
    right: 0px;
    left: inherit;
}

#retopmenu li a {
	color: #FFFFFF;
	line-height: 25px;
}

/*** search ***/
.itp-gs_search {
	display: none;
}

.itp-gs_research .search_block {
	margin: 8px 0;
	background-color: #FFFFFF;
}

.itp-gs_research .search span {
	color: #FFFFFF;
}

/*** topshare ***/
.mod_topshare {
	display: none;
}

/*** mainmenu ***/
#mainmenu {
	display: none;
}

#open-remainmenu {
	float: right;
	margin-top: -42px;
	display: block !important;
	background-color:#91613b;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#91613b, endColorstr=#895830);
	background:linear-gradient(to bottom, #91613b 0%, #895830 100%);
}

#open-remainmenu a {
	width: 68px;
	height: 42px;
	display: block;
	background-image: url('../images/system/menu.png');
	background-repeat: no-repeat;
	background-position: 17px 6px;
}

#open-remainmenu a span {
	display: none;
}

.mainmenu ul#remainmenu {
	margin: 0;
	z-index: 10;
	width: 210px;
    top: 78px;
    right: 0px;
    left: inherit;
    text-align: center;
    position: absolute;
}

#remainmenu .mainlevel1 .itemlevel1 {
	background-color:#FFB55C;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFB55C, endColorstr=#FE9941);
	background:linear-gradient(to bottom, #FFB55C 0%, #FE9941 100%);	
	border-top: 1px solid #FFB55C;
}

#remainmenu .mainlevel1.active .itemlevel1  {
	border-top: none;
	background-color:#EB6A4B;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EB6A4B, endColorstr=#E55038);
	background:linear-gradient(to bottom, #EB6A4B 0%, #E55038 100%);
}

#remainmenu .mainlevel1 a {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	line-height: 28px;
}

#remainmenu .mainlevel2 .itemlevel2 {
	background-color:rgba(128, 83, 50, 0.9);
}

#remainmenu .mainlevel2 a {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: normal;
}

#remainmenu .mainlevel2 .itemlevel2:hover,
#remainmenu .current.mainlevel2 .itemlevel2 {
	background-color: #805332;
}

#remainmenu .mainlevel2 .itemlevel2:hover a,
#remainmenu .current.mainlevel2 .itemlevel2 a {
	color: #FF7733;
}

#remainmenu .mainlevel2 .itemlevel2 {
	text-align: left;
}

#remainmenu .submenu_icon {
	font-weight: bold;
	color: #FF7635;
	margin: 0 10px 0 20px;
}

/*** banner ***/
.head_banner {
	margin-top: 0;
}

#home_banner .bannergroup,
#tmpl_banner .bannergroup {
    height: 130px;
} 

/*** home ***/
.home {
	margin: 0;
}

#contentarea_block {
	margin: 0;
	min-height: 665px;
}

.home .quick_link,
#contentarea_block .quick_link {
	padding: 5px 13px 2px 13px;
}

.quick_link .item_block img,
.quick_link .time_block img {
	width: 142px;
}

.item_block .quick_left,
.time_block .quick_left {
	margin-right: 2px;
}

.item_block .quick_right,
.time_block .quick_right {
	margin-right: 0px;
}

.home .home_area {
	height: auto;
}

.home_area .left,
.home_area .middle,
.home_area .right {
	margin: 0 18px 0 15px;
	float: none;
	width: auto;
}

/*** left ***/
#tabs_announcement .tab-box {
	background-size: 100%;
	background-position-y: -2%;
}

#tabs_announcement .tab-title_announcement.tab-1st {
    left: 52px;
}

#tabs_announcement .tab-title_announcement.tab-2nd {
	left: 154px;
}

#tabs_announcement .tab-separator {
	left: 142px !important;
}

/*** middle ***/
.home_area .middle {
	margin-top: 7px;
}

.mod_hit .hit_block {
	height: auto;
}

.mod_hit .datablock {
	padding: 15px 10px;
}

.mod_hit .h_content,
.mod_hit .h_more {
	width: auto;	
}

.mod_hit .h_youtube embed {
	width: 260px;
	height: 160px;
}

/* 2015-08-07 */
.home_area .newsflash {
	height: auto;
}

.home_area .newsflash .hit_name {
	top: 622px;
    left: 15px;
}

/*** right ***/
.home_area .right {
	margin-top: 7px;
	overflow: hidden;
}

#login-form .login_title {
	width: 262px;
}

#login-form #form-login-username,
#login-form #form-login-password {
	width: 85%;
	margin: 0 auto;
}

#login-form .login_block {
	text-align: center;
	/*width: 220px;
    margin-left: auto;
    margin-right: auto;*/
}

#login-form #modlgn-username, 
#login-form #modlgn-passwd {
	width: 190px;
}

#login-form .unstyled {
   margin: 0;
}


.custom_iquick .iquick_icon {
	width: auto;
}

/*** footer ***/
#footermenu {
	margin: 8px 0;
	display: block !important;
}

.foot_main .custom_footerintro {
	margin-bottom: 0px;
}

.foot_main .footergroup {
	height: 56px;
}

/*** leftmenu ***/
#left_menu {
	display: none;
}

.contentarea #content, .return {
	margin: 0;
	padding: 0;
}

/*** content ***/
/*** article ***/
#content_block table {
	width: auto !important;
	max-width: 100% !important;
}

div.contirNewsList ul li {
	background-size: initial;
}

div.contirNewsList .contriNewsMore {
	width: 60px;
	height: 19px;
	float: right;
	margin-top: -20px;
}

div.contriNewsMore a:link {
	width: 60px;
	height: 19px;
	background-size: 97%;
}

div.contriNewsInfo {
	width: 77%;
    height: 27px;
}

div.contriNewsMore {
	width: 72px;
	height: 25px;
}

/*** com_sexypolling ***/
.com_sexypolling #content_block img {
	/*max-width: 100% !important;*/
}

/*** com_choose ***/
.intro_image {
	display: none;
}

.com_choose .choose_block {
	width: 82px;
	font-size: 13px;
	height: 83px;
}

.com_choose .choose_item {
	font-size: 11px;
	background-size: 98%;
}

.com_choose .mychoose {
	width: 72px;
}

.com_choose #mychoose_block {
	margin-left: -15px;
}

.com_choose thead tr {
	font-size: 12px;
}
.com_choose .mychoose {
	margin: 0 0.5px;
	width: 45px;
}

.com_choose .choose_footer {
	text-align: right;
}

.com_choose .choose_footer img {
	margin: 0px;
	top: 50px;
}

/*** com_vquiz ***/
.com_vquiz .desc_img {
	display: none;
}

.com_vquiz .libra {
	width: 100%
}

.com_vquiz .gif_img {
	display: none;
}

.com_vquiz #score_img_39,
.com_vquiz #score_img_42 {
	width: 165px;
}

.com_vquiz #score_img_40,
.com_vquiz #score_img_43 {
	width: 102px;
}

.com_vquiz .noteTableExplain {
	font-size: 15px !important;
}

.com_vquiz td .owl_img {
	display: none;
}

/*** com_postcards ***/
.com_postcards .img_blocks {
	text-align: center;
}

.com_postcards .img_block {
	margin: 0 !important;
	padding: 2px !important;
}

.com_postcards #content_block img {
	max-width: 100% !important;
}

/*** com_truelove ***/
.com_truelove #truelove_bg {
	display: none;
}

.com_truelove .next {
	margin-right: 0px;
}

/*** 小版隱藏選單 ***/
#remainmenu .item-153,
#remainmenu .item-167,
#remainmenu .item-158,
#remainmenu .item-164 {
	display: none !important;
}


.main_box .box{
	width:100%;
	margin: 0 auto;
	text-align: center;
	/*display: none;*/
}

/*** 小版顯示提示文字 ***/
.hint_msg {
	display: block !important;
}
