*[data-microdata-itemprop]:before {
   content : "";
   background: url('../img/microdata-small.png') no-repeat;
   display: inline-block;
   width : 16px;
   height : 16px;
   padding: 0;
   vertical-align: middle;
}