h1.jvle_h1 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 125%;
    color: #106494;
    padding: 5px 0 5px 2px;
    border-bottom: 1px solid #ACADAE;
	background-color: #fff;
    width: 96%;
}
h3.jvle_h3 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 90%;
    color: #106494;
    padding: 5px 0 5px 2px;
    border-bottom: 1px solid #ACADAE;
    width: 100%;
	background-color: #c1c2c3;
}
p.jvle_or {
	text-align:center;
	margin-top:8px;
	margin-bottom:8px;
	font-weight: bold;
}
div.jvle_exchange {
	width:80%;
	margin:0 auto;
	clear:both;
}
div.jvle_code {
	width:100%;
	background-color: #f1f2f3;
	padding:6px 6px 6px 6px;
}
dl.jvle_dl {
    margin-bottom:6px;
}
 
dl.jvle_dl dt {
	background-color:#cecece;
    float:left;
    font-weight:bold;
    margin-right:10px;
    padding:5px; 
    width:150px;
}
 
dl.jvle_dl dd {
    margin:2px 0;
    padding:5px 0;
}
div.jvle_link {
	border-bottom: 1px dashed #ACADAE;
	margin-bottom: 1em;
	overflow: hidden;
}
div.jvle_link div.thumb {
	float:left;
	margin-right:6px;
}
div.jvle_link div.info {
	width:100%;
}
div.jvle_link div.info span.title {
	width:100%;
	font-weight: bold;
	font-size: 110%;
	display:block;
	margin-bottom:4px;
}
div.jvle_link div.info span.desc {
	width:100%;
	font-weight: normal;
	font-size: 95%;
	display:block;
	margin-bottom:4px;
}
div.jvle_link div.misc {
	width:100%;
	font-weight: normal;
	font-size: 90%;
	display:block;
	text-align:right;
	padding-top: 2px;
	padding-bottom:2px;
	margin-bottom:8px;
}
div.jvle_link div.misc span {
	margin-right: 8px;
	font-size: 90%;
}
div.jvle_link div.misc span.featured {
	background: url(./images/featured.png) no-repeat bottom left;
	padding-left:20px;
}
div.jvle_link div.misc span form {
	display:inline;
}
select.jvle_listbox {
    padding:2px;
    margin:2px;
	font-size: 95%;
	width:150px;
}
div.jvle_feblock {
	margin-top:4px;
	margin-bottom: 4px;
	width:98%;
	display:block;
	clear:both;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	-moz-border-radius: 1em 1em 1em 1em;
	border-radius: 8px 8px 8px 8px;
	border: 1px solid #cccccc;
	padding: 8px 2px 8px 8px;
}
div.jvle_feblock p.menu {
	text-align:right;
	padding-right:6px;
	font-size:95%;
}
p.menu {
	text-align:right;
	padding-right:6px;
	font-size:95%;
}
#jvle_sorter {
	clear:both;
	width:100%;
}
#jvle_maincontent {
	margin-top:4px;
	margin-bottom: 4px;
	display:block;
	clear:both;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	-moz-border-radius: 1em 1em 1em 1em;
	border-radius: 8px 8px 8px 8px;
	border: 2px solid #cccccc;
	padding: 8px 2px 8px 8px;
}
div.jvle_dirmodel_lb {
    float:left;
    width:49%;
    border: none;
    margin-bottom: 1.2em;
}
div.jvle_dirmodel_rb {
    float:right;
    width:49%;
    border: none;
    margin-bottom: 1.2em;
}
div.jvle_clear {
    clear:both;
}
font.jvle_maincatrow {
    font-size: 140%;
}
font.jvle_subcatrow {
    font-size: 95%;
}
#jvle_menu {
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
	text-align:left;
}
form.jvle_search {
    background: transparent;
    border: none;
    float: right;
}
form.jvle_search input.text {
    margin: 0;
    padding: 1px 2px;
    width: 60px;
    background: #FFF;
    color: #333;
}
#jvle_title h2 {
	text-align: center;
}
#jvle_title p {
	margin-top:-8px;
	color: #ccc;
	font-size: 90%;
	text-align: center;
}
.pagination-centered {
	margin:0 auto;
	text-align:center;
}