.icon-publish::before, .icon-save::before, .icon-ok::before, .icon-save-new::before, .icon-save-copy::before, .btn-toolbar .icon-copy::before {
    color: #51a351;
}
.icon-unpublish::before, .icon-not-ok::before, .icon-eye-close::before, .icon-ban-circle::before, .icon-minus-sign::before, .btn-toolbar .icon-cancel::before {
    color: #bd362f;
}
.icon-edit::before {
    color: #2f96b4;
}
.manage_quizzes .radio.btn-group input[type=radio] {
	display: none;
}
.manage_quizzes .radio.btn-group > label {
	margin-right:0;
	width:auto;
}
.manage_quizzes .radio.btn-group > label:first-of-type {
	margin-left: 0;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
}
.manage_quizzes fieldset.radio.btn-group {
	padding-left: 0;
}
.manage_quizzes .btn-danger {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25) !important;
	background-color: #da4f49;
	background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
	background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
	background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
	background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	border-color: #bd362f #bd362f #802420 !important;
	*background-color: #bd362f;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.manage_quizzes .btn-danger:hover,
.manage_quizzes .btn-danger:focus,
.manage_quizzes .btn-danger:active,
.manage_quizzes .btn-danger.active,
.manage_quizzes .btn-danger.disabled,
.manage_quizzes .btn-danger[disabled] {
	color: #fff !important;
	background-color: #bd362f !important;
	*background-color: #a9302a;
}
.manage_quizzes .btn-danger:active,
.manage_quizzes .btn-danger.active {
	background-color: #942a25 \9;
}
.manage_quizzes .btn-micro {
    font-size: 10px !important;
    line-height: 8px !important;
    padding: 1px 4px;
}
.manage_quizzes .cpanel-left {
	border-bottom: 1px solid #dddddd;
    padding: 10px 0 30px;
    text-align: center;
}
.manage_quizzes .cpanel-left {
}
.manage_quizzes .cpanel-left .icon {
	width:100px;
	display:inline-block;
	margin:0 5px;
}
.manage_quizzes .cpanel-left .icon a {
	background-color: #FFFFFF;
	background-position: -30px center;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	color: #565656;
	display:inline-block;
	text-align:center;
	height: 100px;
	text-decoration: none;
	transition-duration: 0.8s;
	transition-property: background-position, -moz-border-radius-bottomleft, -moz-box-shadow;
	vertical-align: middle;
	width: 100px;
	transition: all 0.2s ease-in-out 0s;
}
.manage_quizzes .cpanel-left .icon a:hover {
    background: #f2f2f2;
    border-bottom-left-radius: 50% 20px !important;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
}
.manage_quizzes .cpanel-left .icon a img {
	padding: 10px 0 5px;
	height: 60px;
}
.manage_quizzes .cpanel-left .icon span.texticon {
	display:inline-block;
    width: 100%;
}
.login_block{
border: 1px solid #e2d1a4;
margin: 15px 0 0;
    border-radius: 5px;
    display: inline-block;
     width: 50%;
	text-align:center;
}
.login
{
	text-align:center;
}
.pagination ul {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 0;
	margin-bottom: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.pagination ul > li {
	display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
	float: left;
	padding: 4px 12px;
	line-height: 18px;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
	background-color: #f5f5f5;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
	color: #999;
	cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
	color: #999;
	background-color: transparent;
	cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
	border-left-width: 1px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
}
.pagination-centered {
	text-align: center;
}
.pagination-right {
	text-align: right;
}
.pagination-large ul > li > a,
.pagination-large ul > li > span {
	padding: 11px 19px;
	font-size: 16.25px;
}
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
}
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
}
.pagination-mini ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > a,
.pagination-small ul > li:first-child > span {
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px;
}
.pagination-mini ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > a,
.pagination-small ul > li:last-child > span {
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
}
.pagination-small ul > li > a,
.pagination-small ul > li > span {
	padding: 2px 10px;
	font-size: 12px;
}
.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
	padding: 0 6px;
	font-size: 9.75px;
}
.pagination ul li span i, .pagination ul li a i {
	line-height:18px;
}
.pager {
	margin: 18px 0;
	list-style: none;
	text-align: center;
	*zoom: 1;
}
.manage_quizzes .btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe5e5e5', GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	*background-color: #e6e6e6;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #bbb;
	*border: 0;
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	*margin-left: .3em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.manage_quizzes .btn:hover,
.manage_quizzes .btn:focus,
.manage_quizzes .btn:active,
.manage_quizzes .btn.active,
.manage_quizzes .btn.disabled,
.manage_quizzes .btn[disabled] {
	color: #333;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
}
.manage_quizzes .btn:active,
.manage_quizzes .btn.active {
	background-color: #cccccc \9;
}
.manage_quizzes .btn-success {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top,#62c462,#51a351);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
	background-image: -webkit-linear-gradient(top,#62c462,#51a351);
	background-image: -o-linear-gradient(top,#62c462,#51a351);
	background-image: linear-gradient(to bottom,#62c462,#51a351);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	border-color: #51a351 #51a351 #387038;
	*background-color: #51a351;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.manage_quizzes .btn-success:hover,
.manage_quizzes .btn-success:focus,
.manage_quizzes .btn-success:active,
.manage_quizzes .btn-success.active,
.manage_quizzes .btn-success.disabled,
.manage_quizzes .btn-success[disabled] {
	color: #fff;
	background-color: #51a351;
	*background-color: #499249;
}
.manage_quizzes .btn-success:active,
.manage_quizzes .btn-success.active {
	background-color: #408140 \9;
}
.manage_quizzes .input-append input, .manage_quizzes .input-append select, .manage_quizzes .input-append .uneditable-input {
    border-radius: 3px 0 0 3px;
}
.manage_quizzes .input-append .add-on:last-child, .manage_quizzes .input-append .btn:last-child, .manage_quizzes .input-append .btn-group:last-child > .dropdown-toggle {
    border-radius: 0 3px 3px 0;
}
.manage_quizzes .input-append .add-on, .manage_quizzes .input-append .btn, .manage_quizzes .input-append .btn-group {
    margin-left: -1px;
}
.manage_quizzes .input-append .add-on, .input-append .btn, .manage_quizzes .input-append .btn-group > .dropdown-toggle, .manage_quizzes .input-prepend .add-on, .manage_quizzes .input-prepend .btn, .manage_quizzes .input-prepend .btn-group > .dropdown-toggle {
    border-radius: 0;
    vertical-align: top;
}
.manage_quizzes .input-append input, .manage_quizzes .input-append select, .manage_quizzes .input-append .uneditable-input, .manage_quizzes .input-prepend input, .manage_quizzes .input-prepend select, .manage_quizzes .input-prepend .uneditable-input {
    border-radius: 0 3px 3px 0;
    margin-bottom: 0;
    position: relative;
    vertical-align: top;
}
.manage_quizzes .input-append input, .manage_quizzes .input-append select, .manage_quizzes .manage_quizzes .input-append .uneditable-input, .manage_quizzes .input-append .dropdown-menu, .manage_quizzes .input-append .popover, .manage_quizzes .input-prepend input, .manage_quizzes .input-prepend select, .manage_quizzes .input-prepend .uneditable-input, .manage_quizzes .input-prepend .dropdown-menu, .manage_quizzes .input-prepend .popover {
    font-size: 13px;
}
.manage_quizzes input[type="text"], .manage_quizzes textarea, .manage_quizzes .uneditable-input {
    width: 206px;
}
.manage_quizzes textarea, .manage_quizzes input[type="text"], .manage_quizzes input[type="password"], .manage_quizzes input[type="datetime"], .manage_quizzes input[type="datetime-local"], .manage_quizzes input[type="date"], .manage_quizzes input[type="month"], .manage_quizzes input[type="time"], .manage_quizzes input[type="week"], .manage_quizzes input[type="number"], .manage_quizzes input[type="email"], .manage_quizzes input[type="url"], .manage_quizzes input[type="search"], .manage_quizzes input[type="tel"], .manage_quizzes input[type="color"], .manage_quizzes .uneditable-input {
    background: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.manage_quizzes select, .manage_quizzes textarea, .manage_quizzes input[type="text"], .manage_quizzes input[type="password"], .manage_quizzes input[type="datetime"], .manage_quizzes input[type="datetime-local"], .manage_quizzes input[type="date"], .manage_quizzes input[type="month"], .manage_quizzes input[type="time"], .manage_quizzes input[type="week"], .manage_quizzes input[type="number"], .manage_quizzes input[type="email"], .manage_quizzes input[type="url"], .manage_quizzes input[type="search"], .manage_quizzes input[type="tel"], .manage_quizzes input[type="color"], .manage_quizzes .uneditable-input {
    border-radius: 3px;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 4px 6px;
    vertical-align: middle;
}

.manage_quizzes  #toolbar .btn-success {
    width: 148px;
}
.manage_quizzes  .btn-small {
    border-radius: 3px;
    font-size: 12px;
    padding: 4px 12px;
	line-height:normal;
}
.manage_quizzes {
	background:#fff;
	padding:1.5%;
	border-radius:8px;
}
.manage_quizzes .btn-toolbar .btn-wrapper {
    display: inline-block;
    margin: 0 0 5px 5px;
}
.manage_quizzes .btn-toolbar .btn-wrapper a.btn {
	display:inline-block;
}
.manage_quizzes #toolbar #toolbar-options, .manage_quizzes #toolbar #toolbar-help {
    float: right;
}
.manage_quizzes #toolbar #toolbar-new {
	margin-left:0;
}
.manage_quizzes #toolbar #toolbar-back {
	margin-right:5px;
}
.manage_quizzes #toolbar {
	padding:0 0 5px;
	border-bottom: 1px solid #D3D3D3;
	margin:0 0 10px;
}

.manage_quizzes .input-append input, .manage_quizzes .input-append select, .manage_quizzes .input-append .uneditable-input {
    border-radius: 3px 0 0 3px;
	margin-bottom:0;
}
.manage_quizzes .input-append, .manage_quizzes .input-prepend {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    white-space: nowrap;
	margin:0;
}
.manage_quizzes .table {
    width: 100%;
}
.manage_quizzes table {
    background-color: rgba(0, 0, 0, 0);
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}
.manage_quizzes .table caption + thead tr:first-child th, .manage_quizzes .table caption + thead tr:first-child td, 
.manage_quizzes .table colgroup + thead tr:first-child th, .manage_quizzes .table colgroup + thead tr:first-child td, 
.manage_quizzes .table thead:first-child tr:first-child th, .manage_quizzes .table thead:first-child tr:first-child td {
    border-top: 0 none;
}
.manage_quizzes .table thead th {
    vertical-align: bottom;
}
.manage_quizzes .table th {
    font-weight: bold;
}
.manage_quizzes .table th, .manage_quizzes .table td {
    border-top: 1px solid #dddddd;
    line-height: 18px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

.manage_quizzes .table-striped tbody > tr:nth-child(2n+1) > td, .manage_quizzes .table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: #f9f9f9;
}
.manage_quizzes .table-hover tbody tr:hover > td, .manage_quizzes .table-hover tbody tr:hover > th {
	background-color: #f5f5f5;
}
.manage_quizzes select {
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.manage_quizzes #editcell {
	padding:10PX 0 0;
}
.manage_quizzes select, .manage_quizzes input[type="file"] {
    height: 28px;
    line-height: 28px;
}
.manage_quizzes .pull-right {
    float: right;
	margin-top:9px;
}
.manage_quizzes #tabs {
	border:1px solid #aaaaaa;
	border-radius:4px;
	padding:5px;
}
.manage_quizzes #tabs dl.tabs {
	background: url(../images/right_panel.png) repeat-x;
	background-size:auto 100%;
    border: 1px solid #111111;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 1px 0 #eeeeee, 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    color: #eee;
    font-weight: bold;
	margin: 0;
    padding: 0.5% 0.5% 0;
	width:98.8%;
	display:inline-block;
}
.manage_quizzes #tabs dl.tabs dt.tabs {
	background: url(../images/chart_hover.png) repeat-x;
	background-size:auto 100%;
    border: 1px solid #3a3a3a;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	border-bottom:none;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
    font-weight: normal;
	float:left;
	margin:1px 0.2em 0 0;
	padding:0;
}
.manage_quizzes #tabs dl.tabs dt.tabs.open, .manage_quizzes #tabs dl.tabs dt.tabs.open:hover {
	background:#686868;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
	border-color:#111111;
	color:#fff;
	margin-bottom:-1px;
	padding-bottom:1px;
}
.manage_quizzes #tabs dl.tabs dt.tabs:hover {
    background:#686868;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
	border-color:#111111;
	color:#fff;
    font-weight: normal;
}
.manage_quizzes #tabs dl.tabs dt.tabs span h3 {
	margin:0;
	font-size:13px;
	font-weight:normal;
	font-family:Open Sans;
}
.manage_quizzes #tabs dl.tabs dt.tabs span h3 a {
	color:#fff;
	padding:0.5em 1em;
	display:inline-block;
}
.manage_quizzes #tabs .current {
	clear:both;
}
.manage_quizzes #tabs .current dd.tabs {
	margin:0;
}
.manage_quizzes select[multiple], .manage_quizzes select[size] {
    height: auto;
}
.manage_quizzes td .filter_calendar {
    text-align: right;
}
.manage_quizzes .results_filter .filter_calendar input {
    margin-bottom: 0;
}
.ui-datepicker {
	z-index:2;
}
.manage_quizzes .pagination {
    clear: both;
    display: inline-block;
    padding: 10px 0 0;
    text-align: left !important;
    width: 100%;
}
.manage_quizzes .pagination .limit {
	margin:0;
}
.manage_quizzes .pagination .limit select {
	width:auto;
	margin-left:5px;
	margin-bottom:0;
}

.manage_quizzes .result_table th, .manage_quizzes .result_table td {
    border: 1px solid #dddddd;
    padding: 5px 10px;
	text-align:center;
}
.manage_quizzes legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 18px;
	font-size: 19.5px;
	line-height: 36px;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}
.manage_quizzes fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.manage_quizzes .result_table td label {
    font-weight: bold;
}
.manage_quizzes .all_quiz {
    display: inline-block;
    margin: 3% 0 0;
    width: 100%;
}
.manage_quizzes .all_quiz .result_quiz {
    float: left;
    margin: 0 1.5% 3%;
    width: 30.33%;
	min-height:335px;
}
.manage_quizzes .all_quiz .result_quiz .result_quiz_data {
    display: inline-block;
    padding: 0 0 10px;
    width: 100%;
}
.manage_quizzes .all_quiz .result_quiz .result_quiz_data .qbx {
    background-color: #5dbbfc;
    color: #ffffff;
    float: left;
    font-weight: bold;
    margin: 0 2% 0 0;
    padding: 1.5%;
    width: 20%;
}
.manage_quizzes .all_quiz .result_quiz .result_quiz_data h4 {
    float: left;
    line-height: normal;
    margin: 0;
    width: 74%;
	font-family:open sans;
	font-size:14px;
}
.manage_quizzes .all_quiz .result_quiz .result_quiz_data h4 p {
	margin:0;
}
.manage_quizzes .all_quiz .result_quiz table {
}
.manage_quizzes .all_quiz .result_quiz table td {
    text-align: center;
}
.manage_quizzes  .result_table table th {
    background: #f5f5f5;
}
.manage_quizzes .qform .editor #editor-xtd-buttons {
	margin-top:9px;
}
.manage_quizzes .qform table#addinput th, .manage_quizzes .qform table#addinput td {
	padding:10px;
	border:1px solid #dddddd;
}
.cp_blocks {
    display: inline-block;
    width: 100%;
	padding:30px 0 0;
}
.cp_blocks .cp_block {
    float: left;
    margin-bottom: 3%;
    width: 100%;
}
.cp_blocks .cp_block .chart_x_tool {
    background: #f9f9f9;
	border:1px solid #ddd;
	border-bottom:none;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 1px 0 #eeeeee, 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    float: left;
    padding: 8px 0;
    position: relative;
    width: 99.8%;
    z-index: 99;
}
.cp_blocks .cp_block .cp_block_chart_value {
    border: 1px solid #cccccc;
    border-radius: 0 0 4px 4px;
    clear: both;
    display: inline-block;
    padding: 2.5%;
    width: 94.8%;
}
.cp_blocks .cp_block .chart_x_tool h2 {
    color: #000000;
    float: left;
    font-size: 15px !important;
    font-weight: 600;
    line-height: 28px;
    margin:0 !important;
    padding: 0 0 0 15px !important;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
	font-family:open sans;
}
.cp_blocks .cp_block .select_type {
    float: right;
    padding: 0 15px 0 0;
}
.cp_blocks .cp_block .select_type select {
    margin: 0;
	width:auto;
}
.manage_quizzes .chzn-container {
	width:auto !important;
	max-width:100%;
}
.chart_x_tool span.btn {
    float: right;
    margin-right: 15px;
}
.cp_blocks .cp_block.top_played_quizzes, .cp_blocks .cp_block.top_flagged_questions {
    width: 48.5%;
}
.cp_blocks .cp_block.top_played_quizzes {
    float: left;
}
.cp_blocks .cp_block.top_flagged_questions {
    float: right;
}
.manage_quizzes .poploadingbox {
	z-index:999;
}
.manage_quizzes .chart_x_tool span.btn {
    background: url(../images/chart_hover.png) repeat-x;
    border: 1px solid #3a3a3a;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    color: #ffffff;
    display: block;
    float: right;
    font-size: 11px;
    font-weight: normal;
    margin-right: 15px;
    padding: 3px 12px 4px;
    text-decoration: none !important;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
}
.manage_quizzes .chart_x_tool span.btn:hover, .chart_x_tool span.active.btn {
    background: #686868;
    border: 1px solid #111111;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
    color: #ffffff;
    display: block;
    text-decoration: none !important;
    text-shadow: 0 1px 1px #000000;
}
.manage_quizzes .btn-micro {
    padding: 1px 4px;
}
.manage_quizzes #editcell td p {
	margin:0;
}
.manage_quizzes .results_filter {
	display:inline-block;
	width:100%;
}
.manage_quizzes .results_filter .search_buttons {
	float:left;
}
.manage_quizzes .search_buttons i {
	height:17px;
	line-height:17px;
}
.manage_quizzes .results_filter .filter_calendar {
	float:right;
}
.all_quizzes {
	padding:30px 0 0;
	width:100%;
	display:inline-block;
}
.all_quizzes .quiz_all {
	float:left;
	width:47%;
	margin:0 1.5% 3%;
}
.all_quizzes .all-quiz-table table {
	margin:0;
}
.btn-group label
{	display:inline-block;
	width:65%;
	margin-right:10px;
	 
	
}
input[type="radio"] + label::before 
{
	display:none;
}
#total_timelimit, #passed_score, #ordering {
	width:auto;
}
.anstext
{
float:right;
}
.btn2
{
float:right;
}
.sradio,.mcheckbox
{
display:inline;
}
.options_score
{
display:none;
}
#toolbar div
{
display:inline-block;
}
#toolbar div

{
display:inline-block;
}

input[type="checkbox"]
{
display:block;
}
    .anstext
    {
    float:right
    }
    .btn2
    {
    float:right;
    }
.qbx
{
	background-color: #5dbbfc;
    border: 1px solid #FFF;
    border-radius: 3px;
    color: white;
    padding: 0 10px;
    width: 57px;
	margin-top:10px;
}
.skip_quest {
	font-size:9px;
}
.manage_quizzes .filter {
	display:inline-block;
	width:100%;
	padding:5px 0;
}
.manage_quizzes .filter_left {
	float:left;
}
.manage_quizzes .filter_right {
	float:right;
}