@charset "utf-8";
/* CSS Document */

@media (max-width: 767px) {
	.sbox-content-iframe iframe {
		width:100%;
	}
	.board .vcat img {
		height:auto !important;
	}
	.manage_quizzes #editcell, .manage_quizzes .qform {
		overflow:auto;
	}
	.manage_quizzes .all_quiz .result_quiz {
		width:100%;
		margin:0 0 15px;
	}
	.manage_quizzes .filter .filter_left, .manage_quizzes .filter .filter_right {
	width:100%;
}
.manage_quizzes .filter .filter_right {
	margin:10px 0 0;
}
.manage_quizzes .filter .filter_right input {
	display:inline-block;
	margin:0;
	padding: 4px 2.5%;
    width: 33%;
}
.manage_quizzes .filter .filter_right .btn {
	vertical-align:top;
}
.manage_quizzes select {
	width:auto;
}
.manage_quizzes #tabs .current {
	overflow:auto;
}
}
@media (max-width: 455px) {
	.manage_quizzes .search_buttons .btn-wrapper input {
		width:118px !important;
	}
}
@media (max-width: 437px) {
	.questimespan, .totaltimespan {
		width:35%;
		padding:2px 0;
		float:left;
		margin:5px 0;
	}
	.q_time, .t_time {
		width:100%;
		float:left;
	}
	.question_time, .total_time {
		padding:0;
		margin:5px 0;
		width:60%;
		float:left;
	}
}
@media (max-width: 480px) {
	.board {
		padding:2.5%;
		width:90%;
	}
	.board .vcat {
		width:39%;
		margin:2% 2.5%;
		padding:2.5%;
	}
	
	.selectquiz {
		width:88%;
	}
	.timediv {
		width:95%;
		padding:1% 2.5%;
	}
	#countdowntimer .headertime {
		width:100%;
		padding:5px 0;
	}
	.cp_blocks .cp_block.top_played_quizzes, .cp_blocks .cp_block.top_flagged_questions {
		width:100%;
	}
	.cp_blocks .cp_block .chart_x_tool {
		text-align:center;
	}
	.cp_blocks .cp_block.top_played_quizzes .chart_x_tool h2, .cp_blocks .cp_block.played_quizzes .chart_x_tool h2, 
	.cp_blocks .cp_block.users_geo_charts .chart_x_tool h2 {
		padding:0 5% 10px;
	}
	.cp_blocks .cp_block .chart_x_tool h2, .cp_blocks .cp_block .select_type {
		width:90%;
		padding:0 5%;		
	}
	.manage_quizzes .chart_x_tool span {
		float:none !important;
		margin:0 0 10px 0 !important;
		display:inline-block !important;
	}
	.manage_quizzes .filter-select .chzn-container, .manage_quizzes .input-append, .manage_quizzes .input-prepend, 
	.filter .chzn-container, .filter #quizzesid_button {
		margin-bottom:9px;
	}
	.manage_quizzes .results_filter .search_buttons .input-append {
		margin-bottom:0;
	}
.all_quizzes .quiz_all {
    margin: 0 0 3%;
    width: 100%;
}
.manage_quizzes .chzn-container {
	width:inherit !important;
	text-align:left;
}
.manage_quizzes .table {
	display:block;
	overflow:auto;
}
.manage_quizzes #toolbar {
	text-align:center;
}
.manage_quizzes .search_buttons {
	text-align:center;
}
.manage_quizzes .search_buttons .btn-wrapper input {
	width:auto;
}
.manage_quizzes .filter-select.fltrt {
	float:none !important;
	text-align:center;
}
.manage_quizzes #tabs dl.tabs dt.tabs {
	margin:0;
	padding:0;
	border:none;
	width:100%;
	text-align:center;
	border-radius:0;
}
.manage_quizzes #tabs dl.tabs dt.tabs:hover, .manage_quizzes #tabs dl.tabs dt.tabs.open, .manage_quizzes #tabs dl.tabs dt.tabs.open:hover {
	background:#c0c0c0;
}
.manage_quizzes #tabs dl.tabs dt.tabs:hover h3 a, .manage_quizzes #tabs dl.tabs dt.tabs.open h3 a, .manage_quizzes #tabs dl.tabs dt.tabs.open:hover h3 a {
	color:#000;
}
.manage_quizzes .editor .btn-toolbar {
	text-align:center;
}
.manage_quizzes .editor .btn-toolbar .btn {
	margin-bottom:5px;
}
.manage_quizzes .filter .filter_left, .manage_quizzes .filter .filter_right {
	text-align:center;
}
.manage_quizzes .filter .filter_right {
	margin:0;
}
.manage_quizzes .filter .filter_right input {
	display:inline-block;
	margin:0 0 10px;
	padding: 4px 2.5%;
    width: 43%;
}
}
@media screen and (min-width: 481px) and (max-width: 640px) {
	.board .vcat {
		width:23%;
		margin:2% 2.5%;
		padding:2.5%;
	}
}
@media screen and (min-width: 641px) and (max-width: 767px) {
	.board .vcat {
		width:28%;
		margin:2% 1%;
	}
}
@media screen and (min-width: 768px) and (max-width: 980px) {
	.board .vcat {
		width:28.33%;
	}
	.manage_quizzes .all_quiz .result_quiz {
		width:100%;
		margin:0 0 15px;
	}
	.manage_quizzes #editcell, .manage_quizzes .qform {
		overflow:auto;
	}
	.manage_quizzes .filter .filter_right {
		width:50%;
	}
	.manage_quizzes .filter .filter_right input {
		display:inline-block;
		margin:0;
		padding: 4px 2.5%;
		width: 25%;
	}
	.manage_quizzes select, .manage_quizzes #tabs .current {
	width:auto;
	}
	.manage_quizzes #tabs .current {
		overflow:auto;
	}

}
@media (max-width: 900px) {
	.shadow {
		width:90% !important;
		left:5% !important;
		top:5% !important;
		padding:0 !important;
	}
}
