<div class="Item02_role">
	牽手歷時 時刻都是愛</div>
<br>
<div class="Content_role">
	歷時不算長，但也不算短<br>
	仔細回頭看，時時刻刻都是愛<br>
	空出時間、找個氣氛好的地方<br>
	好好的聊聊，享受回憶<br>
	讓愛重新加溫！</div>
<br>
<br>
<div class="Item02_role">
	衝突的解決 需要攜手共處</div>
<br>
<div class="Content_role">
	吵架、冷戰已經發生不少次<br>
	或許也大概知道對方的「點」在哪<br>
	但有時候在情境中、情緒來的時候<br>
	仍然會有衝突，有時候真的讓人很灰心<br>
	別忘了，「人」永遠比「事」重要<br>
	解決衝突，需要有智慧、共同努力</div>
<br>
<br>
<div class="Item02_role">
	更新我們的愛情地圖</div>
<br>
<div class="Content_role">
	即便愛情的旅程已經走了一陣子<br>
	但我們仍然需要更新彼此的愛情地圖<br>
	持續認識彼此、關注彼此<br>
	也讓未來旅程能走得更濃</div>
<br>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&id=4&Itemid=159">幸福五顆星</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain" id="MobileNotShow">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img src="images/Speaker_03_1_01.png" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&layout=libra&id=11&Itemid=168">我要愛情+麵包</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&id=6&Itemid=163">關係病毒偵測器</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img src="images/Speaker_03_2_01.png" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=11&Itemid=130">了解衝突沒有對錯</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
	<div class="noteTableExplain" id="MobileNotShow">
		<table border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>
						<img src="images/Speaker_03_1_01.png" /></td>
					<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
						<a href="index.php?option=com_content&view=article&id=5&Itemid=130">愛情歷久一樣濃</a></td>
					<td>
						<img height="48" src="images/Speaker_03.png" width="21" /></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="noteTableExplain">
		<table border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>
						<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
					<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
						<a href="index.php?option=com_content&view=article&id=10&Itemid=130">如何表達感謝</a></td>
					<td>
						<img height="48" src="images/Speaker_03.png" width="21" /></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


