<div class="Item02_role">
	愛的旅途正展開</div>
<br>
<div class="Content_role">
	真正的愛表現於相知相惜<br>
	走了一年多的旅途，「相知」已經有所累積<br>
	是個愛的旅途才真正開始的時候<br>
	人會進步；人會改變<br>
	期許能相愛的我們更要跟得上！<br>
	知己知彼，讓這段旅程更親密！</div>
<br>
<br>
<div class="Item02_role">
	衝突難避免 同理是關鍵</div>
<br>
<div class="Content_role">
	吵架、衝突真的難以避免<br>
	由於我們都很特別、很不一樣<br>
	有不同的意見、有不同的想法<br>
	倘若我們能試著同理對方的情緒<br>
	站在對方的角度思考、看事情<br>
	或許能幫助我們一些<br>
	永遠別忘記，人總是比事情還重要！</div>
<br>
<br>
<div class="Item02_role">
	幸福關係靠經營</div>
<br>
<div class="Content_role">
	我們都希望關係可以長長久久<br>
	但幸福的秘訣是不斷的付出與經營<br>
	了解彼此對愛表達方式的不同<br>
	投其所好，讓感情更增溫<br>
	學習用智慧的方式來經營關係<br>
	才是幸福關係的關鍵！</div>
<br>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&id=4&Itemid=159">幸福五顆星</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain" id="MobileNotShow">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img src="images/Speaker_03_1_01.png" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&id=6&Itemid=163">關係病毒偵測器</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=13&Itemid=130">為何總是在吵架</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img src="images/Speaker_03_2_01.png" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=14&Itemid=130">具建設性的衝突</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
	<div class="noteTableExplain">
		<table border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>
						<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
					<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
						<a href="index.php?option=com_content&view=article&id=8&Itemid=130">同理的力量</a></td>
					<td>
						<img height="48" src="images/Speaker_03.png" width="21" /></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="noteTableExplain" id="MobileNotShow">
		<table border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>
						<img src="images/Speaker_03_1_01.png" /></td>
					<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
						<a href="index.php?option=com_content&view=article&id=5&Itemid=130">愛情歷久一樣濃</a></td>
					<td>
						<img height="48" src="images/Speaker_03.png" width="21" /></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


