<div class="Item02_role">
	熱戀階段</div>
<br>
<div class="Content_role">
	熱戀期的你們還甜蜜嗎？<br>
	看到彼此的時候，心中還是會小鹿亂撞嗎？<br>
	沒錯！這時候你們正處於甜蜜又閃亮的熱戀期<br>
	內心的感受會很強烈，隨時都想和對方更多在一起！</div>
<br>
<br>
<div class="Item02_role">
	陷阱多多</div>
<br>
<div class="Content_role">
	不過熱戀期的情侶<br>
	可能會只看見對方的優點、忽略對方的缺點<br>
	甚至是放大、增加對方的優點<br>
	以至於容易模糊真實的彼此<br>
	無法真的認識對方<br>
	雖然時時刻刻想和對方黏在一起，希望發展更親密<br>
	但別忘了，要把「認識彼此」當成首要功課喔！</div>
<br>
<br>
<div class="Item02_role">
	擺脫迷思、為愛預備更甜蜜</div>
<br>
<div class="Content_role">
	愛情要為下個階段預備，<br>
	人家說熱戀退去後，要面對的就是互相磨合<br>
	只要彼此熟識、了解彼此處理衝突的方式<br>
	並且擺脫許多戀愛中的迷思與病毒<br>
	就能讓關係儲存更多資本，已備挑戰與風浪！</div>
<br>
<br>
<div class="Content_role">
	再一次恭喜你們，別忘了，幸福關係要學習喔！</div>
<br>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&id=1&Itemid=148">看看自己的愛情風格！</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img src="images/Speaker_03_2_01.png" style="width: 42px; height: 48px;" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&layout=libra&id=10&Itemid=152">是喜歡還是愛呢？</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_02.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=4&Itemid=130">迷戀？真愛？</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=19&Itemid=130">約會防暴手冊</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img src="images/Speaker_03_2_01.png" style="width: 42px; height: 48px;" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=22&Itemid=130">倆人的愛情藍圖</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>

