<div class="Item02_role">
	熱情須不斷經營</div>
<br>
<div class="Content_role">
	我們都想問：「甜蜜的感情，如何持續不斷呢？」<br>
	我們都希望愛情可以常保熱情與甜蜜<br>
	尤其正在熱戀時光的我們<br>
	更是會有「能保持下去嗎？」的疑問<br>
	其實常保熱情有方法，就是不斷的去付出與經營</div>
<br>
<br>
<div class="Item02_role">
	抓住界線保護彼此</div>
<div class="Content_role">
	為關係設立界線是非常重要的喔！<br>
	性別與個人的不同，往往讓我們對關係的想像會不同<br>
	因此我們需要花時間設立界線<br>
	學習說「不」對彼此其實是有益處的<br>
	迎合不等於為了關係好，拒絕也不等於傷害關係</div>
<br>
<br>
<div class="Item02_role">
	排除小迷思</div>
<div class="Content_role">
	我們對於親密關係會有許多小迷思<br>
	由於生理賀爾蒙的作用，往往會讓我們一頭栽進去<br>
	感受會很強烈、甜蜜、熱情與激情<br>
	但也會模糊焦點，以至於不是真的認識這個人<br>
	反而有過度美化對方的狀態<br>
	這狀態雖然讓我們對關係有期待<br>
	但錯誤的期待，長期以來對關係會造成傷害喔！</div>
<br>
<br>
<div class="Item02_role">
	小衝突的進擊！</div>
<div class="Content_role">
	吵架讓我們很難受，但必須接受衝突是難免<br>
	尤其在破除許多迷思與迷戀後<br>
	會發現，原來對方並不是想像中的美好<br>
	而且，逐漸發現彼此的差異與缺點<br>
	讓衝突就這樣爆發出來<br>
	處理衝突要有智慧，千萬不要放大彼此的缺點</div>
<br>
<div class="Content_role">
	認識自己，了解對方，讓我們一起為愛學習吧！<br>
	&nbsp;</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=12&Itemid=130">親密關係的地雷考驗</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain" id="MobileNotShow">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img src="images/Speaker_03_1_01.png" style="width: 42px height: 48px" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&id=6&Itemid=163">關係病毒偵測器</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=21&Itemid=130">親密關係小病毒</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img src="images/Speaker_03_2_01.png" style="width: 42px height: 48px" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=4&Itemid=130">迷戀與真愛</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>

