.document-icon {
    float: left;
}

.document-icon > a.modal {
    display: inline-block;
    border: none;
    margin-bottom: 7px;
}

.document-icon .action {
    clear: both;
    margin-bottom: 5px;
}

.document-icon > label input {
    margin: 0;
    margin-top: -2px;
}

.document-icon .icon-src {
    background: none;
    box-shadow: 0 0 3px 1px #ccc;
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}

.document-icon .revert-icon {
    margin-left: 5px;
}
