.judl-container {
    display: block;
    overflow: hidden;
}

.judl-display {
    float: left;
}

.sort-pagination {
    margin-top: 20px;
}

.judl-sort {
    float: left;
}

span.required {
    color: red;
}

.jubootstrap ul {
    list-style: none;
}

/* Fix bootstrap */
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fade.in {
    opacity: 1;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

/* Pagination */
.judl-pagination {
    text-align: center;
    margin-top: 20px;
}

.sort-pagination .pagination-wrap {
    float: left;
}

.sort-pagination .pagination-wrap .limitbox .display-number {
    display: none;
}

.pagination-wrap .limitbox .display-number {
    display: inline;
    padding: 7px 5px;
}

.pagination-wrap ul li .pagenav {
    clear: none;
    font-weight: bold;
}

.pagination ul li {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.pagination .pagination-start span {
    padding: 4px 12px;
}

/*rating*/
.judl-rating .rating-result{
    display: inline-flex;
}

.rating-item {
    clear: both;
    padding: 5px 0px 5px 0px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #ccc;
}

.rating-item .rating-title {
    margin-right: 10px;
    display: inline-flex;
    width: 100px;
}

.rating-item .rating-title .required {
    color: red;
    margin-left: 5px;
}

.rating-item .rating-value {
    display: inline-flex;
}

.judl-rating .star-rating, .judl-rating .rating-cancel {
    color: #BBBBBB;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    line-height: 1;
    text-align: center;
    width: 16px;
    height: 16px;
    font-size: 16px;
}

.judl-rating .star-rating > span, .judl-rating .rating-cancel > span {
    height: 100%;
    left: 0;
    line-height: 1;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.judl-rating .star-rating-on > span {
    color: #D50000;
    text-indent: 6%;
}

.star-rating-control > div {
    display: inline-block;
}

.star-rating-control {
    display: inline-block;
    min-width: 100px;
}

.star-rating-percent {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #D50000;
}

/*rating statistic by number criteria */
.star-rating-title {
    margin-right: 5px;
    width: 50px;
    display: inline-block;
}

.star-rating-value {
    display: inline-block;
    margin-left: 5px;
}

.star-rating-full {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    width: 150px;
    height: 16px;
    overflow: hidden;
    background: #BBBBBB;
}

/* label */
.doc-title .label {
    font-size: 11px;
    padding: 2px 4px;
    vertical-align: super;
    border-radius: 0.25em;
    color: #ffffff;
    display: inline;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
}

.label.label-new {
    background-color: #5cb85c;
}

.label.label-updated {
    background-color: #5bc0de;
}

.label.label-hot {
    background-color: #d9534f;
}

.label.label-featured {
    background-color: #428bca;
}

.label.label-pending {
    background-color: #f0ad4e;
}

.label.label-expired {
    background-color: #777;
}

.label.label-unpublished {
    background-color: #88443c;
}

/* override form view */
.judl-form .accordion-heading a {
    color: #005580;
    background: none;
}

.judl-form a:hover {
    color: #005580;
    /* background : none; */
}

.judl-form dl.tabs {
    margin-top: 20px;
}

.judl-form dt h3 {
    font-size: 13px;
    line-height: 18px;
}

.judl-form table.mceLayout {
    width: 100%;
}

.judl-form .editor-xtd-buttons {
    display: inline-block;
}

.judl-form .modal {
    position: static;
    width: auto;
}

.judl-form .toggle-editor {
    display: inline-block;
}

.judl-form #editor-xtd-buttons {
    display: inline-block;
}

/*Override form - recheck*/
.panel {
    margin-bottom: 4px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.panel h3 {
    background: none;
    color: #08c;
    font-size: 13px;
    line-height: 18px;
    border-bottom: none;
}

.panel h3.pane-toggler-down {
    padding-bottom: 20px;
}

.panel h3.pane-toggler > a:nth-child(1), .panel h3.pane-toggler-down > a:nth-child(1) {
    background: none;
    display: block;
    padding: 8px 15px;
}

.panel h3 a {
    background: none;
    display: block;
    padding: 8px 15px;
}

.current {
}

.current dd {
    float: none;
}

.current dt {
    clear: none;
}

.current {
    background: none;
}

.pane-slider {
    background: none;
}

.judl-approval-container {
    display: block;
    margin-top: 20px;
    text-align: center;
}

.judl-approval-inner {
    display: inline-block;
}

.judl-approval-options {
    border: 1px dashed #CCCCCC;
    float: left;
    margin: 10px 0 20px;
    padding: 5px;
}

.judl-approval-options > div {
    margin: 0 5px;
}

.judl-previous, .judl-next {
    float: left;
    margin: 16px 10px 0;
}

/*Malicious*/
.judl-container img.captcha-image {
    border: 1px solid #e5e5e5;
    margin-bottom: 5px;
    padding: 3px;
}

.judl-container .judl-enter-password.modal form {
    margin: 0;
}

.judl-view-list > .row-fluid > [class*="span"] {
    margin-left: 0;
}

.judl-container ul.value-list li {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px dotted #ddd;
    padding: 0 5px 5px;
}

.judl-container ul.value-list li:last-child {
    border: none;
}

.judl-container .value ul.file-list li {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px dotted #ddd;
    padding: 0 5px 5px;
}

.judl-container .value ul.file-list li:last-child {
    border: none;
}

.judl-container .value ul.image-list li {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #ddd;
    float: left;
    margin: 5px 5px 0 0;
    padding: 3px;
}

/*Fix fancybox*/
html.fancybox-lock {
    overflow: unset;
}