.twitter-typeahead {
    float: left;
    margin-right: 5px;
}

.typeahead,
.autosuggest,
.tt-query,
.tt-hint {
    outline: none;
}

.twitter-typeahead .tt-hint {
    color: #999999 !important;
}

.tt-dropdown-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    margin: 0;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    width: 100%;
    min-width: 160px;
    max-width: 300px;
    z-index: 1000;
}

.tt-suggestions {

}

.tt-suggestion {
    color: #333333 !important;
    padding: 5px 10px;
    line-height: 1.6;
    overflow: hidden;
}

.tt-suggestion + .tt-suggestion {
    border-top: 1px solid #ccc;
    height: auto;
}

.tt-suggestion:last-child {
    margin-bottom: 10px;
}

.twitter-typeahead .tt-suggestion.tt-cursor {
    background-color: #0081C2;
    background-image: linear-gradient(to bottom, #0088CC, #0077B3);
    background-repeat: repeat-x;
    color: #FFFFFF;
    outline: 0 none;
    cursor: pointer;
}

.collection-search-docs {
    margin-bottom: 20px;
}

.doc-search-result {
    position: relative;
}

.doc-search-result img {
    float: left;
    height: 50px;
    margin: 0 5px 5px 0;
    width: 50px;
}

.doc-search-result p {
    margin: 0;
}

.collection-item-icon {
    float: left !important;
    margin-right: 10px !important;
}

.remove-doc {
    cursor: pointer;
}



