#richgame_block {
	background-color:#FFFFFF;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#ffe6cc);
	background:linear-gradient(to bottom, #FFFFFF 0%, #FFFCF7 50%, #ffe6cc 100%);
}

.magPerson1{
	border:dotted 6px black;
	z-index: 10;
	position: absolute;
	left:0;
	top:0;
	margin-top:0px; 
	width:200px; 
	height:200px;
	background-color:#ffeeff;
	display: none;
}
.magPerson2{
	border:dotted 6px black;
	z-index: 10;
	position: absolute;
	left:824px;
	top:0;
	margin-top:0px; 
	width:200px; 
	height:200px;
	background-color:#ffeeff;
	display: none;
}

.role {
	/*background: url(../images/player01.png) no-repeat 0 0;
	width:245px;
	height:127px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;*/
}
.role-2 {
	background: url(../images/player02.png) no-repeat 0 0;
	left: 780px;
}

.role .money {
	position:absolute;
	left:135px;
	top:95px;
	font-size: 24px;
	color:#333333;
}

.role .notice {
	width: 265px;
	font-size: 16px;
	color: #FFFFFF;
	position: absolute;
	top: 202px;
	left: 335px;
	z-index: 1;
}

.role .notice-hidden {
	-webkit-transform: scale(0.1);
	-webkit-transition: -webkit-transform ease-in 0.15s;
	
	background: -webkit-gridient()
}
.confirm-notice, .chance-notice, .normal-notice, 
.certificate-notice, .gameover-notice {
	display:none;
}
.role .notice .tip {
	padding: 0 0 6px;
}
.role .notice .btn {
	display:inline-block;
	background:#A9C469;
	/*color:#ffffff;*/
	padding:0 5px;
	margin:0 5px 5px 0;
	line-height:25px;
	-webkit-border-radius: 3px;
	max-width: 225px;
	cursor: pointer;
}

.role-2 .money {
	left:15px;
}
.role-2 .notice {
	left:-100px;
}


.actions {
	height:400px;
	position: absolute;
	left: 25px;
	top: 170px;
	z-index: 20;
}
.actions-2 {
	left:885px;
}

.actions .block-item {
	/*background: url(../images/block_item.png) no-repeat 0 0 ;*/
	height:89px;
	width:89px;
	margin:0 0 2px 22px;
	/*cursor: pointer;*/
	position: absolute;  /* rene */
}

/* rene */
.actions #blocker2 {
	top: 91px;
}

.actions #blocker3 {
	top: 182px;
}

.actions .block-item span {
	display:block;
	background: url(../images/life.png) no-repeat;
	height:89px;
	width:89px;
}
.actions .block-item span.update {
	display:block;
	background: url(../images/map.png) no-repeat -606px -105px;
	height:89px;
	width:89px;
}
.actions .block-item span.buy {
	background: url(../images/map.png) no-repeat -605px -5px;
}
.actions .block-item-hidden {
	cursor: default;
	visibility: hidden;
}

.actions-2 .block-item {
	background: url(../images/block_item_2.png) no-repeat 0 0;
}

.actions .saizi {
	background-image: url(../images/saizi.png);
	background-repeat: no-repeat;
	width:106px;
	height:93px;
	cursor: pointer;
  	position: absolute;
  	top: 290px;
  	left: 8px;
}
.actions-2 .saizi {
	background: url(../images/saizi2.png) no-repeat 0 0 ;
}




/*** rene start ***/
.role .notice .option_btn {
	font-size: 15px;
	font-weight: bold;
	color: #000;
}

canvas {
	background-image: url('../images/map_bg.png');
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-position: 70% 48%;
  	background-size: 60%;
}

.chance_1 {
	width: 107px;
	height: 98px;
	background-image: url('../images/chance_1.png');
	background-repeat: no-repeat;
	position: absolute;
	top: 450px;
	left: 232px;
	z-index: 2;
}

.chance_2 {
	width: 68px;
	height: 113px;
	background-image: url('../images/chance_2.png');
	background-repeat: no-repeat;
	position: absolute;
	top: 40px;
	left: 629px;
	z-index: 2;
}

.game_img {
	width: 171px;
	height: 131px;
	background-image: url('../images/game_img.png');
	background-repeat: no-repeat;
	position: absolute;
	top: 335px;
	left: 330px;
	z-index: 2;	
}

.arrow {
	position: absolute;
	top: 565px;
	left: 110px;
}

.arrow span {
	font-size: 16px;
	font-weight: bold;
}

.qtype {
	font-size: 18px;
	color: #CEFE9A
}

.certificate-notice img {
	width: 255px;
}

.radio_btn {
	cursor: pointer;
	margin-top: 5px;
	vertical-align: top;
}

.role .notice .option_text {
	cursor: text;
}
