@charset "utf-8";
/* CSS Document */
#fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
#light,#light_copy,#light_move,#light_import{
    display: none;
    position: absolute;
    top:45%;
    left: 40%;
    width: 500px;
    height: auto;
    margin-left: -150px;
    margin-top: -100px;                 
    padding:5px;
	padding-bottom:25px;
    border: 2px solid #F00;
	border-radius:5px;
    background: #CCC;
    z-index:1050;
    overflow:visible;
}
.closepop
{
	background: none repeat scroll 0 0 tomato;
    border-radius: 50%;
    color: #fff;
    float: right;
    height: 25px;
    line-height: 25px;
    width: 25px;
	text-align:center;
}