.icon-16-vquiz {
	background: url(../images/icon-16-vquiz.png) no-repeat !important;
}
.icon-16-quizmanager {
	background: url(../images/icon-16-vquiz.png) no-repeat !important;
}
.icon-16-mailinbox {
	background: url(../images/icon-16-mailinbox.png) no-repeat !important;
}
.icon-16-configuration {
	background: url(../images/icon-16-configuration.png) no-repeat !important;
}
.icon-32-download {
	background: url(../images/icon-32-import.png) no-repeat !important;
}
.icon-48-vquiz, .icon-vquiz {
	background: url(../images/icon-48-vquiz.png) no-repeat !important;
}
.icon-48-configuration, .icon-configuration {
	background: url(../images/icon-48-configuration.png) no-repeat !important;
}
.icon-48-mailinbox {
	background: url(../images/icon-48-mailinbox.png) no-repeat !important;
}
.icon-48-quizmanager, .icon-quizmanager {
	background: url(../images/icon-48-quizzes.png) no-repeat !important;
}
.icon-48-quizcategories, .icon-quizcategories {
	background: url(../images/icon-48-quizcategories.png) no-repeat !important;
}
.icon-48-quizquestions, .icon-quizquestions {
	background: url(../images/icon-48-quizquestions.png) no-repeat !important;
}
.icon-48-quizresult, .icon-quizresult {
	background: url(../images/icon-48-quizresults.png) no-repeat !important;
}
.icon-48-vquizusers, .icon-vquizusers {
	background: url(../images/icon-48-users.png) no-repeat !important;
}
div.pagetitle {
	background-size: 48px auto !important;
}
.header .container-title .page-title span {
    background-size: 32px auto !important;
    height: 32px;
    margin: 0;
    vertical-align: middle;
    width: 32px;
}
#content .span10 .cpanel-left {
    float: left;
    width: 73.5%;
}
#content .span10 .cpanel-left .cpanel {
    float: left;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}
#content .span10 .cpanel-right {
    background-color: #f9f9f9;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    float: right;
    margin-bottom: 20px;
    padding: 1.5%;
    width: 23%;
}
#content .span10 .cpanel-left .cpanel .icon {
	float: left;
	margin:0 5px 10px;
	text-align: center;
}
#content .span10 .icon a {
	border: 1px solid #CCCCCC;
	border-radius: 5px;
}
.icon a {
	background-color: #FFFFFF;
	background-position: -30px center;
	border: 4px solid #CCCCCC;
	border-radius: 25px;
	color: #565656;
	display: block;
	float: left;
	height: 120px;
	text-decoration: none;
	transition-duration: 0.8s;
	transition-property: background-position, -moz-border-radius-bottomleft, -moz-box-shadow;
	vertical-align: middle;
	width: 120px;
}
.icon a img {
	padding:15px 0 10px;
	height:64px;
}
.icon span.texticon {
	width: 100%;
	float: left;
	padding:0;
}
#content .span10 .cpanel-right dl.tabs {
	margin: 0;
}
#content .span10 .cpanel-right dl.tabs h3 {
	font-size: 20px;
	margin: 0 0 10px;
	padding: 0;
}
#content .span10 .cpanel-right .current {
	font-size: 11px;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
}
#content .span10 .cpanel-right .current dd.tabs {
	margin: 0;
}
#content .span10 .cpanel-right .current dd.tabs img {
	height:36px;
}
#content .span10 .copyright {
	clear: both;
	text-align: right;
}
#content .span10 .icon a {
	border: 1px solid #ccc;
	border-radius: 5px;
}
#content .span10 .icon a:hover {
	background: none repeat scroll 0 0 #f2f2f2;
}
#content .span10 .admintable .btn {
	margin: 0 0 9px;
}
#content .span10 .markers .editor {
	width: 450px;
}
.col_block ul {
	margin: 0;
}
.col_block ul li {
	clear: both;
	list-style: none outside none;
}
.col_block ul li select {
	float: left;
	margin: 0 5px 9px 0;
}
.gm-style img {
	max-width: inherit;
}
.m .copyright {
	clear: both;
	text-align: center;
}
.m .range input, .m .qform input {
	float: none;
}
.m .range .button2-left {
	margin: 5px 0 0;
}
.m .qform .sradio {
	float: none;
	min-width: inherit;
}
.poploadingbox {
	display: none;
	background: #f5f5f5;
	border: 10px solid #ffffff;
	border-radius: 4px;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.1) inset;
	height: 20%;
	left: 35%;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 30%;
	z-index:999;
}
.poploadingbox img {
	height: auto !important;
	width: auto !important;
	position: relative;
	top: 35%;
}
.cp_blocks {
    display: inline-block;
    width: 100%;
}
.cp_blocks .cp_block {
    float: left;
    margin-bottom: 3%;
    width: 100%;
}

.cp_blocks .cp_block .chart_x_tool {
	/*background: url(../images/right_panel.png) repeat-x;*/
	background:#f9f9f9;
	background-size:auto 100%;
    border: 1px solid #ddd;
	border-bottom:none;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 1px 0 #eeeeee, 0 1px 0 rgba(255, 255, 255, 0.4) inset;
	text-shadow: 0 1px 1px #000000;
    color: #eeeeee;
    float: left;
    padding: 8px 0;
    position: relative;
    width: 99.8%;
    z-index: 99;
}
.cp_blocks .cp_block .chart_x_tool .select_type {
	text-shadow:none;
	color:#444;
}
.cp_blocks .cp_block .cp_block_chart_value {
	clear:both;
	padding:1.5%;
	border:1px solid #ccc;
	width:96.8%;
	display:inline-block;
	border-radius: 0px 0px 4px 4px;
}
.cp_blocks .cp_block .chart_x_tool h2 {
	float: left;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding: 0 0 0 15px;
	color:#000;
	line-height:28px;
	text-shadow:0 -1px 0 rgba(255, 255, 255, 0.25);
}
.cp_blocks .cp_block .select_type {
	float:right;
	padding:0 15px 0 0;
}
.cp_blocks .cp_block .select_type select {
	margin:0;
}
.chart_x_tool span {
	float:right;
	margin-right:15px;
}
.cp_blocks .cp_block.top_played_quizzes, .cp_blocks .cp_block.top_flagged_questions {
	width:48.5%;
}
.cp_blocks .cp_block.top_played_quizzes {
	float:left;
}
.cp_blocks .cp_block.top_flagged_questions {
	float:right;
}
.result_table th, .result_table td {
	padding:5px 10px;
	border:1px solid #ddd;
}
.result_table td label {
	font-weight:bold;
}
#content .span10 .copyright {
    clear: both;
    text-align: right;
}

.chart_x_tool span.btn {
	background: url(../images/chart_hover.png) repeat-x;
    border: 1px solid #3a3a3a;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    color: #ffffff;
    display: block;
    float: right;
    font-size: 11px;
    font-weight: normal;
    margin-right: 15px;
    padding: 3px 12px 4px;
    text-decoration: none !important;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
	transition: all 0.2s ease-in-out 0s;
}
.chart_x_tool span.btn:hover, .chart_x_tool span.btn.active {
	background: #686868;
    border: 1px solid #111111;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
    color: #ffffff;
    display: block;
    text-decoration: none !important;
    text-shadow: 0 1px 1px #000000;
}
#tflip,#tflip2,#mflip,#mflip2
{
padding:5px 0;
text-align:center;
background-color:#ccc;
border:solid 1px #999;
}
#tpanel,#tpanel2,#mpanel,#mpanel2
{
float:left;
display:none;
}
.conf_left_panel {
	float: left;
    width: 75%;
}
.conf_right_panel {
	background:#dddddd;
    float: right;
    padding: 1.5%;
	width:20%;
}
.conf_right_panel h3 {
	margin-top:0;
}
.conf_right_panel .conf-para a {
	display:inline-block;
	margin:0 0 5px;
}
.conf_left_panel .conf_left_panel_options {
	clear:both;
	float:left;
	width:100%;
}
.conf_left_panel .conf_left_panel_options h4 {
	text-align:center;
}
.conf_left_panel .conf_left_panel_options .btn-toolbar {
	margin:7.5px 15px 7.5px 0;
}
.conf_left_panel .conf_left_panel_options .mce-panel {
	padding:2.5px;
}
.conf_left_panel .conf_left_panel_options #mpanel, .conf_left_panel .conf_left_panel_options #mpanel2, 
.conf_left_panel .conf_left_panel_options #tpanel, .conf_left_panel .conf_left_panel_options #tpanel2 {
	width:100%;
}
.conf_left_panel .conf_left_panel_buttons {
	float: left;
    width: 100%;
}
.conf_left_panel .conf_left_panel_buttons #mflip, .conf_left_panel .conf_left_panel_buttons #tflip {
	float:left;
}
.conf_left_panel .conf_left_panel_buttons #mflip2, .conf_left_panel .conf_left_panel_buttons #tflip2 {
	float:right;
}
.conf_left_panel .conf_left_panel_buttons #mflip, .conf_left_panel .conf_left_panel_buttons #mflip2, 
.conf_left_panel .conf_left_panel_buttons #tflip, .conf_left_panel .conf_left_panel_buttons #tflip2 {
	width:48.5%;
}
#addtional a {
	text-decoration:underline;
	color:#0088cc;
}
.search_buttons {
	margin:0 20px;
	margin-bottom:9px;
	float:left;
}
.filter-select.fltrt input {
	margin:0;
}
.search_buttons .input-append {
	margin:0 5px 0 0;
}
td .filter_calendar {
	text-align:right;
}
td .filter_calendar input {
	margin-bottom:0;
}
.all_quiz {
    display: inline-block;
    margin: 3% 0 0;
    width: 100%;
}
.all_quiz .result_quiz {
    float: left;
    margin: 0 1.5% 3%;
    width: 47%;
	min-height:275px;
}
.all_quiz .result_quiz .result_quiz_data {
    display: inline-block;
    width: 100%;
	padding:0 0 10px;
}
.all_quiz .result_quiz .result_quiz_data .qbx {
	background-color: #5dbbfc;
	color:#fff;
	font-weight:bold;
    float: left;
    margin: 0 2% 0 0;
    padding: 1.5%;
    width: 20%;
}
.all_quiz .result_quiz .result_quiz_data h4 {
    float: left;
    line-height: normal;
    margin: 0;
    width: 75%;
}
.all_quiz .result_quiz table {
}
.all_quiz .result_quiz table td {
	text-align:center;
}
.profile_picture img, .upimg img {
	max-height:50px;
	margin:0 0 0 5px;
	vertical-align:middle;
	float:none;
	display:inline-block;
}
.profile_picture input, .upimg input {
	float:none;
	display:inline-block;
}
.qform table#addinput th, .qform table#addinput td {
    border: 1px solid #dddddd;
    padding: 10px;
}
.qform input#flagreset {
    margin-bottom: 9px;
}
.col101 .ui-widget-header{
	background: url(../images/right_panel.png) repeat-x;
	background-size:auto 100%;
    border: 1px solid #111111;
    box-shadow: 0 1px 0 #eeeeee, 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    color: #eee;
}
.col101 .ui-state-default, .col101 .ui-widget-content .ui-state-default, .col101 .ui-widget-header .ui-state-default {
	background: url(../images/chart_hover.png) repeat-x;
	background-size:auto 100%;
    border: 1px solid #3a3a3a;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.col101 .ui-state-active, .col101 .ui-widget-content .ui-state-active, .col101 .ui-widget-header .ui-state-active, 
.col101 .ui-state-hover, .col101 .ui-widget-content .ui-state-hover, .col101 .ui-widget-header .ui-state-hover, 
.col101 .ui-state-focus, .col101 .ui-widget-content .col101 .ui-state-focus, .col101 .ui-widget-header .ui-state-focus {
	background:#686868;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
	border-color:#111111;
}
.col101 .ui-state-default a, .col101 .ui-state-default a:link, .col101 .ui-state-default a:visited {
	color:#fff;
}
.anstext
{
float:right;
}
.btn2
{
float:right;
}
.sradio,.mcheckbox
{
display:inline;
}
select
{	width:auto;}
.options_score
{
	display:none;
}
.skipquest {
	font-size:9px;
}
.chzn-container {
	width:auto !important;
}
#editcell {
	clear:both;
}
span.search_text {
	display:none;
}
tr.ckeck_downlaod_certificate .radio_certificate input {
	margin:0;
}
#element-box table.adminlist thead th {
		text-align:left;
}
#element-box .defaultSimpleSkin table.mceLayout {
	width:100% !important;
}
#element-box .button2-left {
	float:right;
	margin:10px 10px 10px 0;
}
#element-box table.adminform td fieldset.radio {
	border:none;
	padding:0;
	margin:0;
}
#element-box table.adminform td fieldset.radio label, #element-box table.adminform td fieldset.radio input {
	float:none;
	clear:none;
	display:inline-block;
	vertical-align:middle;
}
#element-box span.search_text, body.contentpane span.search_text {
	display:inline-block;
}
#element-box .icon a img {
	height:48px;
}
#element-box .cpanel-right img {
	height:30px;
}
#element-box .cp_blocks {
	padding:2% 0 0;
}
#element-box .cp_blocks .cp_block.top_played_quizzes, #element-box .cp_blocks .cp_block.top_flagged_questions {
	width:49%;
}
#element-box .cp_blocks .cp_block {
	margin-bottom:2%;
}
#element-box .cp_blocks .cp_block .select_type {
	padding:3px 15px 3px 0;
}
#element-box table.adminform {
	border:none;
}
#element-box table.adminform td {
	padding:8px;
}
#element-box table.adminform, #element-box table.adminform label, #element-box table.adminform input {
	margin:0;
}
#element-box fieldset.adminform {
	background:#fff;
	padding:15px;
}
#element-box #editcell .icon-featured, #element-box #editcell .icon-unfeatured {
	display:inline-block;
	width:16px;
	height:16px;
}
#element-box #editcell .icon-featured {
	background: url(../images/featured.png) no-repeat !important;
}
#element-box #editcell .icon-unfeatured {
	background: url(../images/unfeatured.png) no-repeat !important;
}

@media (max-width: 480px) {
	#content .span10 .cpanel-left, #content .span10 .cpanel-right {
		width:100%;
		margin: 0 0 15px;
	}
	#content .span10 .cpanel-left .cpanel {
		margin:0;
	}
	.cp_blocks .cp_block.top_played_quizzes, .cp_blocks .cp_block.top_flagged_questions {
		width:100%;
	}
	.cp_blocks .cp_block .chart_x_tool {
		text-align:center;
	}
	.cp_blocks .cp_block .chart_x_tool h2 {
		padding:0;
		display:block;
		float:none;
	}
	.cp_blocks .cp_block .select_type {
		display:inline-block;
		float:none;
		padding:10px 0 0;
	}
	.chart_x_tool span.btn, .chart_x_tool span.btn:hover, .chart_x_tool span.btn.active {
		display: inline-block;
		float: none;
		margin-right: 0;
	}
	.ui-tabs .ui-tabs-panel {
		padding:0;
		overflow:auto;
	}
	.conf_left_panel {
		width:100%;
	}
	.conf_right_panel {
		width:97%;
	}
	.filter-select.fltrt, .search_buttons {
		width:100%;
		text-align:center;
	}
	.filter-select.fltrt .chzn-container {
		width:auto !important;
		margin-bottom:10px;
	}
	.filter-select.fltrt .btn {
		margin:0 0 10px;
	}
	#editcell, .col101.qform {
		overflow:auto;
		width:100%;
	}
	.col101 .ui-state-default, .col101 .ui-widget-content .ui-state-default, .col101 .ui-widget-header .ui-state-default {
		width:100%;
		margin:0;
		padding:0;
	}
	.editor .btn-toolbar {
		text-align:center;
	}
	.editor .btn-toolbar .btn {
		margin-bottom:5px;
	}
	.filter-select.fltrt input {
		display: inline-block;
		margin: 0 0 10px;
		padding: 4px 2.5%;
		width: 43%;
	}
	.work_sheet {
		padding:15px 0 0;
	}
}
@media (max-width: 380px) {
	.cp_blocks .cp_block .chart_x_tool.linecharttype h2 {
		padding:0 0 5px;
	}
}
@media screen and (min-width: 481px) and (max-width: 640px) {
	.cp_blocks .cp_block .chart_x_tool h2 {
		padding:0 0 0 10px;
		font-size:14px;
	}
	.cp_blocks .cp_block .select_type {
		padding:0 10px 0 0;
	}
}
@media screen and (min-width: 481px) and (max-width: 960px) {
	#content .span10 .cpanel-left {
		width:66%;
	}
	#content .span10 .cpanel-right {
		margin:0;
		width:28.5%;
	}
	#editcell, .col101.qform {
		overflow:auto;
		width:100%;
	}
}
@media screen and (min-width: 481px) and (max-width: 1024px){
	.search_buttons {
		width:54%;
	}
	.filter-select.fltrt {
		width:46%;
		text-align:right;
	}
	.filter-select.fltrt input {
		width:24%;
	}
}